

/* Set root variables */
:root {
  --active-input-border: linear-gradient(90deg, hsl(249, 99%, 64%) 0%, hsl(278, 94%, 30%) 100%);
  --input-errors: hsl(0, 100%, 66%);
  --Light-grayish-violet: hsl(270, 3%, 87%);
  --Dark-grayish-violet: hsl(279, 6%, 55%);
  --Very-dark-violet: hsl(278, 68%, 11%);
  font-size: 10px;
}

/* Global reset */
* {
  margin: 0;
  padding: 0;
  line-height: 1em;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  height: 99.6vh;
  background-image: url("./images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: 100% 24rem;
}

/* Main container styles */
main {
  max-width: 37.7rem;
  padding: 3.2rem 1.6rem;
  margin: 0 auto;
}

/* Credit card container */
/* Image styles */
.cardimg{
  display: block;
  margin-top: 50%;
  width: 49rem;
}

.rightimg{
  display: block;
  margin-bottom: 20px; 
}

/* Credit card back side */
.card-back {
  position: relative;
  max-width: 28.6rem;
  margin: 0 0 0 auto;
}

.card-back img {
  width: 60rem;
  margin-bottom: -10rem;
}

.card-back .cvc {
  position: absolute;
  top: 15%;
  height: 100%;
  width: 110%;
  color: white;
  letter-spacing: 0.065em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  right: 2rem;
  font-size: 2rem;
  letter-spacing: 0.14em;
  padding-right: 13rem;
  padding-bottom: 2rem;
}

/* Credit card front side */
.card-front {
  max-width: 28.6rem;
  position: relative;
  /* top: 10rem; */
  padding-top: 1.9rem; 
}

/* Add the logo positioning */
.card-logo {
  position: absolute;
  top: 30rem; 
  left: 4rem; 
  max-width: 9rem;
} 

/* Card details container */
.card-details {
  position: absolute;
  top: 40rem;
  padding: 1.8rem 2rem;
  width: 100%;
  height: 100%;
}

/* Card number text */
.card-Number {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.12em;
  color: white;
  margin-bottom: 2rem;
}

/* Card information container */
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 1rem;
  letter-spacing: 0.065em;
  text-transform: uppercase;
}

/* Form styles */
form {
  margin-top: 3rem;
  padding: 0 0.8rem;
  display: block;
  width: 40rem;
}

/* Form group styles */
.form-group {
  margin-top: 2.2rem;
  display: flex;
  flex-direction: column;
}

.form-group label {
  display: inline-block;
  font-size: 1.3rem;
  letter-spacing: 0.165em;
  text-transform: uppercase;
  color: var(--Very-dark-violet);
  margin-bottom: 1rem;
}

.form-group input {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.9rem;
  letter-spacing: 0.03em;
  font-weight: 500;
  width: 106%;
  outline: none;
  border: 1px solid var(--Light-grayish-violet);
  border-radius: 0.8rem;
  height: 5rem;
  padding: 0 1.6rem;
  color: var(--Very-dark-violet);
}

/* Error message styles */
.info-err {
  display: none;
  margin-top: 1rem;
  font-size: 1.2rem;
  color: var(--input-errors);
}

/* Utility classes */
.d-block {
  display: block !important;
}

.d-none {
  display: none !important;
}

/* Form expiration date container */
.form-exp-date {
  display: flex;
  gap: 1rem;
}

/* Date input container */
.date {
  display: flex;
  gap: 0.8rem;
}

/* Confirm button */
.btn {
  display: block;
  margin-top: 2.8rem;
  border: 0;
  background: var(--Very-dark-violet);
  color: white;
  width: 42rem;
  height: 5.3rem;
  border-radius: 0.8rem;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: hsla(278, 68%, 11%, 80%);
}

/* Completed state container */

.thankyou {
  font-size: 2.8rem;
  font-weight: 500;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: var(--Very-dark-violet);
  margin-bottom: 20px;
}

.belowthank {
  color: var(--Dark-grayish-violet);
  margin-bottom: 30px;
  font-weight: bold;
}

.btn {
  margin: 0;
  margin-top: 2rem;
}

/* Media query for larger screens */
@media screen and (min-width: 1440px) {
  body {
    background-image: url("./images/Rectangle 1.svg");
    background-repeat: no-repeat;
    background-size: 35% 150%;
  }

  main {
    max-width: 111.2rem;
    margin: auto;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 12.7rem;
    height: 100vh;
  }

  .card {
    height: 52.8rem;
    max-width: max-content;
    display: flex;
    flex-direction: column-reverse;
    gap: 3.8rem;
  }

  .card-back,
  .card-front {
    max-width: max-content;
  }

  .card-front {
    position: relative;
    top: 0;
  }

  .card-back {
    margin-left: 9.4rem;
  }

  .card-details {
    padding: 2.8rem 3.2rem;
  }

  .card-Number {
    font-size: 2.8rem;
    margin-bottom: 3.2rem;
  }

  .info {
    font-size: 1.4rem;
    letter-spacing: 0.14em;
  }

  .form-group {
    margin: 0;
    margin-bottom: 2.8rem;
  }

  .form-exp-date {
    gap: 2rem;
  }

  .date {
    gap: 1rem;
  }

  #month,
  #year {
    width: 8rem;
  } 
}
